body {
  font-family: $principal-font;
  font-size: $custom-font-size;
  font-weight: $custom-font-weight;
  line-height: $custom-font-height;
  background-color: $accent;
  box-sizing: $custom-box-size;
}
