.logo {
  font-family: $secundary-font;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;
  color: $principal;
  margin-right: 1em;
}

.foot {
  margin: 0;
}
