.nav__contacts {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  .nav__contact-item {
    color: $background-dark;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav__contact-item:hover {
    color: $principal;
  }
}

.nav__contact-button {
  display: flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
  margin-right: 30px;
  color: currentColor;

  &:focus,
  &:active {
    color: $principal;
  }
}

.nav__contact-text {
  font-weight: 500;
  text-decoration: none;
  padding: 0;
  margin: 0 30px 0 10px;
}

.icon__email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
