$principal: #2196f3;
$secondary: #212121;
$background-dark: #757575;
$background-soft: #f5f4fa;
$accent: #ffffff;

$principal-font: "Roboto", "arial", sans-serif;
$secundary-font: "raleway", sans-serif;
$custom-font-size: 14px;
$custom-font-weight: 400;
$custom-font-height: 1.1;

$custom-box-size: border-box;
